{% extends "layout.html" %}
{% block content %}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Add New Database ! </h1>
                    </div>
                    {% if form.dDBname.errors %}
                        {% for error in form.dDBname.errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ error }}
                            </div>
                        {% endfor %}
                    {% elif form.dServiceName.errors %}
                        {% for error in form.dServiceName.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span>Service Name cannot be empty.</span>
                            </div>
                        {% endfor %}       
                    {% elif form.dPort.errors %}
                        {% for error in form.dPort.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span>Port is invalid. Please enter numeric value.</span>
                            </div>
                        {% endfor %}    
                    {% elif form.dHostName.errors %}
                        {% for error in form.dHostName.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span>Hostname cannot be empty.</span>
                            </div>
                    {% endfor %}
                    {% elif form.dType.errors %}
                    {% for error in form.dType.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span>Database Type cannot be empty.</span>
                        </div>
                    {% endfor %}    
                    {% elif form.dUserName.errors %}
                    {% for error in form.dUserName.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span>Database username cannot be empty.</span>
                        </div>
                    {% endfor %} 
                    {% elif form.dUserPassword.errors %}
                    {% for error in form.dUserPassword.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span>Database users password cannot be empty or doesnot meet requirement.</span>
                        </div>
                    {% endfor %}   
                    {% endif  %}

                    <form class="user" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.dDBname.errors %}
                                {{ form.dDBname(class="form-control form-control-user is-invalid", 
                                id="exampleDBname", placeholder="Name of Database" ) }}
                                {% else %}
                                {{ form.dDBname(class="form-control form-control-user", 
                                    id="exampleDBname", placeholder="Name of Database" ) }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.dServiceName.errors %}
                                {{ form.dServiceName(class="form-control form-control-user is-invalid", 
                                id="exampleDBname", placeholder="Service Name for Database" ) }}
                                {% else %}
                                {{ form.dServiceName(class="form-control form-control-user", 
                                    id="exampleDBname", placeholder="Service Name for Database" ) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.dPort.errors %}
                                {{ form.dPort(class="form-control form-control-user is-invalid", 
                                id="exampleDBname", placeholder="Connection Port for Database" ) }}
                                {% else %}
                                {{ form.dPort(class="form-control form-control-user", 
                                    id="exampleDBname", placeholder="Connection Port for Database" ) }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.dType.errors %}
                                {{ form.dType(class="form-control form-control-user is-invalid", 
                                id="exampleDBname", placeholder="Database Type e.g Oracle, MySql.." ) }}
                                {% else %}
                                {{ form.dType(class="form-control form-control-user", 
                                    id="exampleDBname", placeholder="Database Type e.g Oracle, MySql.." ) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {% if form.dHostName.errors %}
                            {{ form.dHostName(class="form-control form-control-user is-invalid", 
                            id="exampleDBname", placeholder="Hostname where database is running" ) }}
                            {% else %}
                            {{ form.dHostName(class="form-control form-control-user", 
                                id="exampleDBname", placeholder="Hostname where database is running" ) }}
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.dUserName.errors %}
                                {{ form.dUserName(class="form-control form-control-user is-invalid", 
                                id="exampleDBname", placeholder="Username to connect to database" ) }}
                                {% else %}
                                {{ form.dUserName(class="form-control form-control-user", 
                                    id="exampleDBname", placeholder="Username to connect to database" ) }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.dUserPassword.errors %}
                                {{ form.dUserPassword(class="form-control form-control-user is-invalid", 
                                id="exampleInputPassword", placeholder="Database users password" ) }}
                                {% else %}
                                {{ form.dUserPassword(class="form-control form-control-user", 
                                    id="exampleInputPassword", placeholder="Database users password" ) }}
                                {% endif %}   
                            </div>
                        </div>
                        {{ form.dSubmit(class="btn btn-primary btn-user btn-block") }}  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}