{% extends "layout.html" %}
{% block content %}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Edit Database </h1>
                    </div>
                    {% if form.DDBNAME.errors %}
                        {% for error in form.DDBNAME.errors %}
                            <div class="alert alert-danger" role="alert">
                            {{ error }}
                            </div>
                        {% endfor %}
                    {% elif form.DSERVICENAME.errors %}
                        {% for error in form.DSERVICENAME.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span>Service Name cannot be empty.</span>
                            </div>
                        {% endfor %}       
                    {% elif form.DPORT.errors %}
                        {% for error in form.DPORT.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span>Port is invalid. Please enter numeric value.</span>
                            </div>
                        {% endfor %}    
                    {% elif form.DHOSTNAME.errors %}
                        {% for error in form.DHOSTNAME.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span>Hostname cannot be empty.</span>
                            </div>
                    {% endfor %}
                    {% elif form.DTYPE.errors %}
                    {% for error in form.DTYPE.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span>Database Type cannot be empty.</span>
                        </div>
                    {% endfor %}    
                    {% elif form.DUSERNAME.errors %}
                    {% for error in form.DUSERNAME.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span>Database username cannot be empty.</span>
                        </div>
                    {% endfor %} 
                    {% elif form.DUSERPASSWORD.errors %}
                    {% for error in form.DUSERPASSWORD.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span>Database users password cannot be empty or doesnot meet requirement.</span>
                        </div>
                    {% endfor %}   
                    {% endif  %}

                    <form class="user" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.DDBNAME.errors %}
                                {{ form.DDBNAME(class="form-control form-control-user is-invalid", 
                                id="exampleDBname",value= dbs.DDBNAME, placeholder="Name of Database" ) }}
                                {% else %}
                                {{ form.DDBNAME(class="form-control form-control-user", 
                                    id="exampleDBname",value= dbs.DDBNAME, placeholder="Name of Database" ) }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.DSERVICENAME.errors %}
                                {{ form.DSERVICENAME(class="form-control form-control-user is-invalid", 
                                id="exampleDBname",value= dbs.DSERVICENAME, placeholder="Service Name for Database" ) }}
                                {% else %}
                                {{ form.DSERVICENAME(class="form-control form-control-user", 
                                    id="exampleDBname",value= dbs.DSERVICENAME, placeholder="Service Name for Database" ) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.DPORT.errors %}
                                {{ form.DPORT(class="form-control form-control-user is-invalid", 
                                id="exampleDBname", value= dbs.DPORT , placeholder="Connection Port for Database" ) }}
                                {% else %}
                                {{ form.DPORT(class="form-control form-control-user", 
                                    id="exampleDBname", value= dbs.DPORT, placeholder="Connection Port for Database" ) }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.DTYPE.errors %}
                                {{ form.DTYPE(class="form-control form-control-user is-invalid", 
                                id="exampleDBname", value= dbs.DTYPE, placeholder="Database Type e.g Oracle, MySql.." ) }}
                                {% else %}
                                {{ form.DTYPE(class="form-control form-control-user", 
                                    id="exampleDBname", value= dbs.DTYPE, placeholder="Database Type e.g Oracle, MySql.." ) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {% if form.DHOSTNAME.errors %}
                            {{ form.DHOSTNAME(class="form-control form-control-user is-invalid", 
                            id="exampleDBname", value= dbs.DHOSTNAME, placeholder="Hostname where database is running" ) }}
                            {% else %}
                            {{ form.DHOSTNAME(class="form-control form-control-user", 
                                id="exampleDBname", value= dbs.DHOSTNAME, placeholder="Hostname where database is running" ) }}
                            {% endif %}
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {% if form.DUSERNAME.errors %}
                                {{ form.DUSERNAME(class="form-control form-control-user is-invalid", 
                                id="exampleDBname", value= dbs.DUSERNAME, placeholder="Username to connect to database" ) }}
                                {% else %}
                                {{ form.DUSERNAME(class="form-control form-control-user", 
                                    id="exampleDBname", value= dbs.DUSERNAME, placeholder="Username to connect to database" ) }}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if form.DUSERPASSWORD.errors %}
                                {{ form.DUSERPASSWORD(class="form-control form-control-user is-invalid", 
                                id="exampleInputPassword", placeholder="Database users password" ) }}
                                {% else %}
                                {{ form.DUSERPASSWORD(class="form-control form-control-user", 
                                    id="exampleInputPassword", placeholder="Database users password" ) }}
                                {% endif %}   
                            </div>
                        </div>
                        {{ form.DSUBMIT(class="btn btn-primary btn-user btn-block") }}  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("exampleInputPassword").value = "{{ DecryptValue(dbs.DUSERPASSWORD) }}";
</script>


{% endblock content %}