{% extends "layout.html" %}
{% block content %}

{% if form.STARTSNAP.errors %}
    {% for error in form.STARTSNAP.errors %}
        <div class="alert alert-danger" role="alert">
        <span>Start Snapshot must be selected or invalid choice.</span>
        </div>
    {% endfor %}
{% elif form.ENDTSNAP.errors %}
    {% for error in form.ENDTSNAP.errors %}
        <div class="alert alert-danger" role="alert">
            <span>End Snapshot must be selected or invalid choice.</span>
        </div>
    {% endfor %}   
{% endif %}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        
        <form class="user" method="POST">
        {{ form.hidden_tag() }}
        {{ form.STARTSNAP(id="stSnap", value="", type="hidden") }}
        {{ form.ENDTSNAP(id="enSnap", value="", type="hidden") }}
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">             
               <h6 class="m-0 font-weight-bold text-primary">Database Detail Report.</h6>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 mb-4 mb-sm-0"> 
                        <div class="dropdown mb-4">
                            <select class="form-control btn btn-primary dropdown-toggle" id="startSNAP" size="3" onchange="updateStrt();">
                                <option>Start Snap</option>
                                {% for snap in snapshots %}
                                <option>{{ snap.DBSNAPID }}</option>
                                {% endfor %}
                            </select>
                        </div>                                                    
                    </div>
                    <div class="col-sm-4 mb-4 mb-sm-0">
                        <div class="dropdown mb-4">
                            <select class="form-control btn btn-primary dropdown-toggle" id="endSNAP" size="3" onchange="updateEnd();">
                                <option >End Snap</option>
                                {% for snap in snapshots %}
                                <option>{{ snap.DBSNAPID }}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>
                    <div class="col-sm-4 mb-4 mb-sm-0"> 
                    {{ form.DSUBMIT(class="btn btn-primary", value="View Results") }}  
                     </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="card-body" id="fix-width">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size:small; padding: 0.5rem;">
                <thead>
                    <tr>
                        <th>DBID </th>
                        <th>Instance</th>
                        <th>Startup Time</th>
                        <th>Version</th>
                        <th>Name</th>
                        <th>Inst Name</th>
                        <th>Host Name</th>
                        <th>Platform</th>
                        <th>Cpu</th>
                        <th>Core</th>
                        <th>Socket</th>
                        <th>Memory</th>
                    </tr>
                </thead>
                <tbody>
                    {% for database in dbs %}
                    <tr>
                        <td>
                            {{ database.DBID }}
                        </td>
                        <td>
                            {{ database.DBINSTID }} 
                        </td>
                        <td>
                            {{ database.DBSTARTUPTIME }} 
                        </td>
                        <td>
                            {{ database.DBVERSION }} 
                        </td>
                        <td>
                            {{ database.DBNAME }} 
                        </td>
                        <td>
                            {{ database.DBINSTNAME }} 
                        </td>
                        <td>
                            {{ database.DBHOSTNAME }} 
                        </td>
                        <td>
                            {{ database.DBPLATFROM }} 
                        </td>
                        <td>
                            {{ database.DBCPUCNT }} 
                        </td>
                        <td>
                            {{ database.DBCPUCORECNT }} 
                        </td>
                        <td>
                            {{ database.DBCPUSOCKETCNT }} 
                        </td>
                        <td>
                            {{ database.DBOSMEMORY }} 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
<!--
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size:small; padding: 0.5rem;">
                <thead>
                    <tr>
                        <th>DBID </th>
                        <th>Snap ID</th>
                        <th>Instance</th>
                        <th>CPU Load</th>
                        <th>CPU Busy</th>
                        <th>Total OS Mem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in osinfo %}
                    <tr>
                        <td>
                            {{ info.DBID }}
                        </td>
                        <td>
                            {{ info.DBSNAPID }} 
                        </td>
                        <td>
                            {{ info.DBINSTID }} 
                        </td>
                        <td>
                            {{ info.OSLOAD }} 
                        </td>
                        <td>
                            {{ info.OSBUSY }} 
                        </td>
                        <td>
                            {{ info.OSTOTALMEM }} 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    -->
        <div class="table-responsive" id="avgsess-plot">
        </div>
        <hr class="sidebar-divider">
        <div class="table-responsive" id="memory-plot">
        </div>
        <hr class="sidebar-divider">
        <div class="table-responsive" id="cpu-plot">
        </div>
        <hr class="sidebar-divider">
        <div class="table-responsive" id="io-plot1">
        </div>
        <hr class="sidebar-divider">
        <div class="table-responsive" id="io-plot2">
        </div>
        <hr class="sidebar-divider">
        <div class="table-responsive" id="io-plot3">
        </div>
        <hr class="sidebar-divider">
        <div class="table-responsive" id="io-plot4">
        </div>
        <hr class="sidebar-divider">
        <div class="table-responsive" id="mainallplot">
        </div>
    </div>
</div>


<style>
.table td, .table th {
    padding: .3rem;
}

.form-group {
    margin-bottom: -1rem;
}

#fix-width { 
    min-height: 1024px; 
    }
</style>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var avgsess = {{ plot3 | safe }};
    Plotly.plot("avgsess-plot", avgsess,{});
    var memplot = {{ plot | safe }};
    Plotly.plot("memory-plot", memplot,{});
    var cpuplot = {{ plot2 | safe }};
    Plotly.plot("cpu-plot", cpuplot,{});
    var ioplot1 = {{ plot5 | safe }};
    Plotly.plot("io-plot1", ioplot1,{});
    var ioplot2 = {{ plot6 | safe }};
    Plotly.plot("io-plot2", ioplot2,{});
    var ioplot3 = {{ plot7 | safe }};
    Plotly.plot("io-plot3", ioplot3,{});
    var ioplot4 = {{ plot8 | safe }};
    Plotly.plot("io-plot4", ioplot4,{});
    var mainallplot = {{ plot9 | safe }};
    Plotly.plot("mainallplot", mainallplot,{});
</script>
<script type="text/javascript">
    function updateStrt() {
    var startSNAP = document.getElementById("startSNAP");
    var startSNAPval = startSNAP.options[startSNAP.selectedIndex].value;
    document.getElementById("stSnap").value = startSNAPval;
	}

    function updateEnd() {
    var endSNAP = document.getElementById("endSNAP");
    var endSNAPval = endSNAP.options[endSNAP.selectedIndex].value;
    document.getElementById("enSnap").value = endSNAPval;
	}
</script>

{% endblock content %}